# Answer  # 1

In [9]:
print("Twinkle,twinkle,little star, \n        How i wonder what you are! \n                Up above the worild so high, \n                Like a dimond in the sky.\nTwinkle,twinkle,little star \n        How i wonder what you are")

Twinkle,twinkle,little star,
        How i wonder what you are!
                Up above the worild so high,
                Like a dimond in the sky.
Twinkle,twinkle,little star
        How i wonder what you are

## Answer # 2

In [7]:
from platform import python_version

print(python_version())

3.8.8

##  Answer # 3

In [ ]:
import datetime

x = datetime.datetime.now()
print(x)

## Answer # 4

In [9]:
radius = 9
area = 3.14*radius**2

In [10]:
area

254.34

## Answer # 5

In [19]:
name = "ammar rauf"

In [22]:
namelist = name.split(" ")

In [23]:
print(namelist[1] + " "+ namelist[0])

rauf ammar

## Answer # 6

In [25]:
a = int(input("Number A :"))
b = int(input("Number B :"))
print("The sum of A and B is ",a+b)

Number A :9
Number B :7
The sum of A and B is  16

## Answer # 7

In [10]:
maths=int(input("Maths marks :"))
English=int(input("Endlish marks :"))
islamit=int(input("islamit marks:"))
urdu=int(input("urdu marks:"))
science=int(input("science marks:"))
totalmarks =500
marksobtained=(maths+English+islamit+urdu+science);
percentage=marksobtained/totalmarks*100  
if percentage < 100 and percentage >= 80: 
     print("A-one");
elif percentage < 80 and percentage >= 70 :
    print ("Grade A");
elif percentage < 70 and percentage >= 60 :
    print("Grade B"); 
elif percentage < 60 and percentage >= 50 :
        print("Grade c");
elif percentage < 50 and percentage >= 40 :
    print("Grade D");
else:
    print ("you ate fail");

Maths marks :78
Endlish marks :66
islamit marks:50
urdu marks:42
science marks:73
Grade B

## Answer # 8

In [27]:
a = int(input("Enter Number to check it even or odd :"))
if a%2==0:
    print("the number is even")
else:
    print("the number is odd")

Enter Number to check it even or odd :4
the number is even

## Answer # 9

In [30]:
a = [1,3,4,68,3]

In [31]:
len(a)

5

## Answer # 10

In [40]:
a = [1,3,4,68,3]
sum(a)

79

## Answer # 11

In [41]:
max(a)

68

## Answer # 12

In [44]:
a = [1,1,2,3,5,8,13,21,34,55,89]
for i in a:
    if i < 5:
        print(i)

1
1
2
3